body{
    margin: 0;
    padding: 0;
}

.page{
    background-image: url("../img/blue-bg.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow: hidden;
}
/**毛玻璃效果**/
.maoboli{
    width: 100%;
    height: 100%;
    background: inherit;
    -webkit-filter: blur(10px);
    -moz-filter: blur(10px);
    -ms-filter: blur(10px);
    -o-filter: blur(10px);
    filter: blur(10px);
    filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius=4, MakeShadow=false);
}

.head-pic{
    width: 100%;
    height: 13rem;
    line-height: 13rem;
    text-align: center;
}

.head-pic img{
    width: 6rem;
    height: 6rem;
    vertical-align: middle;
}

.forget-pass{
    float: right;
    margin-top: -15px;
    margin-right:20px;
    color: #4ebecd;
    font-size: 0.7rem;
}

.input-sty{
    text-align: center;
    border-radius: 5px;
    border: 1px solid #4ebecd;
    margin: 0.5rem 0.5rem;
}

.input-sty img{
    padding: 0.2rem;
    float: left;
    width:1.5rem ;
    height: 1.5rem;
}

input{
   border: none;
    width: 80%;
    height: 1.5rem;
    font-size: 0.7rem;

    background-color: transparent;
}

.content-block{
    margin: 1rem 0px;
    text-align: center;
}
.content-block p{
    margin: 1rem 0.3rem;
    display: inline-block;
    width:6rem;
}

.button{
    height: 2rem;
    line-height: 2rem;
    background-color: transparent;
    text-align: center;
    color: white;
    font-size: 0.8rem;
    background-color: #4ebecd;
    opacity:0.4;
}