body{
    margin: 0;
    padding: 0;
}

/**头部背景颜色**/
.bar{
    background: #4ebecd;
}

/**头部返回箭头**/
.title,.bar-nav a,.button-light{
    color: white;
}

/**底部工具栏**/
.bar-tab .tab-item.active, .bar-tab .tab-item:active{
    color: white;
}

.item-title{
    font-size: 0.7rem;
}


.content-block-title{
    font-size: 0.6rem;
}

.item-inner a{
    color: #3d4145;
}