body{
    margin: 0;
    padding: 0;
    color: white;
}

/**头部背景颜色**/
.bar{
    background: #4ebecd;
}

/**头部返回箭头**/
.title,.bar-nav a,.button-light{
    color: white;
}

/**底部工具栏**/
.bar-tab .tab-item.active, .bar-tab .tab-item:active{
    color: white;
}

/**搜索栏**/
.bar-header-secondary{
    position: absolute;
    top: 2.2rem;
}

.page-index{
    margin-top: 2.6rem;
}


/**动态设置card背景**/
.card{
    /*background-size: 100% 100%;*/
    /*background-image: url("../img/summer-bg.jpg");*/
    height: 9rem;
    margin: 0.8rem 0.6rem;
    background-image:url('../img/youji5.jpg');
    background-size: 100% 100%;
}


.card-header{
    padding: 0.2rem 0.5rem;
    font-size: 1.0rem;
    font-family: "Arial","Microsoft YaHei","黑体","宋体",sans-serif;
}

.card-content-inner{
   padding: 0 0.5rem;
}
.card-content-inner p{
    color: white;
    margin: 0.2rem 0rem;
}

.card-footer{
    margin-top: 2.5rem;
}

/**卡片底部字颜色**/
.card-footer a{
    color: white;
}