body{
    margin: 0;
    padding: 0;
}

.page{
    background-image: url("../img/blue-bg.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow: hidden;
}
/**元素居中**/
.content{
    text-align: center;
}

/**毛玻璃效果**/
.maoboli{
    width: 100%;
    height: 100%;
    background: inherit;
    -webkit-filter: blur(10px);
    -moz-filter: blur(10px);
    -ms-filter: blur(10px);
    -o-filter: blur(10px);
    filter: blur(10px);
    filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius=4, MakeShadow=false);
}

/**内容编辑区域**/
.text-edit{
    width: 90%;
    height: 10rem;
    margin: 0.2rem 0;
    padding: 0.6em 0.6rem;
    background-color: transparent;
    border: 1px dashed #aab2bd;
    overflow-y: auto;
    color: #656d78;
}
/**类似于朋友圈添加图片**/
.pic{
    display: inline-block;
    width: 90%;
    height: 3rem;
    line-height: 3rem;
    overflow-x: hidden;
    overflow-y: auto;

}

.pic img{
    text-align: left;
    width: 2.8rem;
    height: 2.8rem;
    vertical-align: middle;
}

#add{
    margin: 0.2rem 0.5rem;
    width: 0.8rem;
    height: 0.8rem;
    vertical-align: middle;
}

/**页脚样式**/
.card-footer{
    font-size: 0.65rem;
}

.card-footer img{
    width: 1rem;
    height: 1rem;
    margin-right: 0.2rem;
}

.title-input{
    width: 90%;
    margin: 10px 0.5rem;

}

.title-input, .footer-input{
    background: transparent;
    border: none;
}

.confirm{
    width: 100%;
    height: 4rem;
    line-height: 4rem;
    margin: 1rem 0;
    background-image: url("../img/dev-bg2.jpg");
    background-size: 100% 100%;
    color: white;
    font-size: 1.1rem;
    -webkit-box-shadow:0 0 15px #0CC;
    -moz-box-shadow:0 0 15px #0CC;
    box-shadow:0 0 15px #0CC;
}
